In [12]:
# Linear Merge

def linear_merge(list1, list2):
  mergedList = []
  i = 0
  j = 0
  while i < len(list1) and j < len(list2):
    if list1[i] < list2[j]:
      mergedList.append(list1[i])
      i+=1
    else:
      mergedList.append(list2[j])
      j+=1
  if i < j:
    mergedList.extend(list1[i:])
  else:
    mergedList.extend(list2[j:])
  return mergedList

list1 = [1,3,5,7,9]
list2 = [2,4,6,8,10]

print('List 1 : ', list1)
print('List 2 : ', list2)
print('Merged List: ', linear_merge(list1, list2))

List 1 :  [1, 3, 5, 7, 9]
List 2 :  [2, 4, 6, 8, 10]
Merged List:  [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [13]:
# Initiallize Dictionary

def Initiallize_Dictionary(employees, defaults):
  result = {employee: defaults for employee in employees}
  return result

employees = ['Kelly', 'Emma', 'John']
defaults = {"designation": 'Application Developer', "Salary": 8000}
print('Input: Employees: ',employees, 'Defaults: ', defaults)
print('Output: ', Initiallize_Dictionary(employees, defaults))

Input: Employees:  ['Kelly', 'Emma', 'John'] Defaults:  {'designation': 'Application Developer', 'Salary': 8000}
Output:  {'Kelly': {'designation': 'Application Developer', 'Salary': 8000}, 'Emma': {'designation': 'Application Developer', 'Salary': 8000}, 'John': {'designation': 'Application Developer', 'Salary': 8000}}

In [21]:
# Delete Keys

def Delete_Keys(dicti, keys):
   result = {key: dicti[key] for key in dicti if key not in keys}
   return result


sampleDict = {
    "name" : "Kelly",
    "age" : 25,
    "salary" : 8000,
    "city" : "New york"
}

keysToRemove = ["name", "salary"]

print('Input: sample dictionary ',sampleDict, "Keys to remove: ", keysToRemove)
print('Output: ', Delete_Keys(sampleDict, keysToRemove))

Input: sample dictionary  {'name': 'Kelly', 'age': 25, 'salary': 8000, 'city': 'New york'} Keys to remove:  ['name', 'salary']
Output:  {'age': 25, 'city': 'New york'}

In [29]:
# Set Operations

def Non_Common_Elements(set1, set2):

  set3 = set1.union(set2)
  set4 = set1.intersection(set2)
  set5 = set4.symmetric_difference(set3)
  return set5


set1 = {'0', '1', '5'}
set2 = {'1', '2', '4', '5'}
print('Input Set1: ',set1, 'Set2: ', set2)
print('Outpyt: ',Non_Common_Elements(set1, set2))

Input Set1:  {'5', '0', '1'} Set2:  {'4', '2', '1', '5'}
Outpyt:  {'4', '2', '0'}

In [43]:
# Exception Handling

def divide(num1, num2):
  try:
    x = num1 / num2
    print('output: ',x)
  except ZeroDivisionError:
    print("Infinity")
  finally:
    print('Division Function executed')


num1 = 10
num2 = 5
print('Input Num1: ',num1, " Num2: ", num2)
divide(num1, num2)

num1 = 10
num2 = 0
print('Input Num1: ',num1, " Num2: ", num2)
divide(num1, num2)

Input Num1:  10  Num2:  5
output:  2.0
Division Function executed
Input Num1:  10  Num2:  0
Infinity
Division Function executed